.git/
.github/
venv/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
tests/
docker-compose*.yml
Makefile
Readme.md
*.md
requirements-dev.txt
pyproject.toml
.gitignore
.dockerignore
